<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Timetable.Properties.Settings.ConnectionString" connectionString="Dsn=PostgreSQL_timetable"
            providerName="System.Data.Odbc" />
        <add name="Timetable.Properties.Settings.ConnectionStringMySql"
            connectionString="server=localhost;user id=root;database=timetable"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
