<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHourService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8463/Services/HoursService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHourService"
                contract="IHourService" name="BasicHttpBinding_IHourService" />
        </client>
    </system.serviceModel>
</configuration>