@model Timetable.DAL.ViewModels.TimetableViewModel
@{
	ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	<h1>Timetable</h1>
	<p class="lead">Platforma .NET, Paweł Moniewski, Gliwice 2018.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Classes</h2>
		<table class="table">
			<tbody class="searchable">
			@foreach (var item in Model.Classes)
			{
				<tr>
					<td>
						@Html.ActionLink(item.Year + " " + item.CodeName, "Class", "Timetable", new { id = item.Id }, null)
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<h2>Teachers</h2>
		<table class="table">
			<tbody class="searchable">
			@foreach (var item in Model.Teachers)
			{
				<tr>
					<td>
						@Html.ActionLink(item.FirstName + " " + item.LastName, "Teacher", "Timetable", new { pesel = item.Pesel }, null)
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<h2>Classrooms</h2>
		<table class="table">
			<tbody class="searchable">
			@foreach (var item in Model.Classrooms)
			{
				<tr>
					<td>
						@Html.ActionLink(item.Name, "Classroom", "Timetable", new { id = item.Id }, null)
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
