<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8463/Services/DaysService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayService"
                contract="IDayService" name="BasicHttpBinding_IDayService" />
        </client>
    </system.serviceModel>
</configuration>